html, body {
    width: 100vw;
    /* overflow-x: hidden; */
}

body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    width: 100vw;
}

section {
    padding: 0 2%;
}

h1 {
    color: #66BFBF;
    font-size: 3rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 2.5rem; */
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: #66BFBF;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    color: #11999E;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    color: #66BFBF;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px !important;
    border-bottom: none !important;
    width: 4% !important;
    margin: 100px auto !important;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .5rem;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.row {
    width: 100vw;
}

.medium-header {
    font-size: 2rem;
}

.color-container {
    background-color: #445D7B;
}

.bg-dark {
    background-color: #445D7B !important;
}

/* TITLE SECTION */
#title {
    text-align: center;
}

.big-header {
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.medium-header {
    font-size: 2rem;
    font-weight: bold;
}

.small-header {
    font-size: 5.625rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.section-header {
    font-size: 3.8rem;
    font-weight: bold;
    margin-bottom: 5%;
}

.top-container {
    position: relative;
    padding-top: 100px;
}

.software-engineer {
    width: 30%;
}

.top-cloud {
    position: absolute;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

/* PROFILE section */
#profile {
    text-align: center;
    margin-top: 100px;
    vertical-align: middle;
}

.my-image {
    border-radius: 50%;
    margin-bottom: 30px;
}

.self-description {
    width: 40%;
    margin: auto;
}

/* EXPERIENCE section */
#experience {
    margin-top: 100px;
    text-align: center;
}

.job-position {
    font-weight: bold;
    color: #66BFBF;
}

.job-company {
    color: #66BFBF;
    font-size: 1.2rem;
}

.experience-row {
    display: flex;
    width: 50%;
    padding: 3%;
    margin: auto;
}

.experience-row-description {
    padding-left: 20px;
    text-align: left;
    border-left: 1px solid #EAF6F6;
}

.skill-img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-right: 20px;
}

.skill-img-left {
    float: left;
}

.skill-img-right {
    float: right;
}

.job-resposible {
    margin-top: 5%;
    padding-left: 5%;
}

.job-resposible li {
    margin: 3% 0;
}

/* responsive */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1rem;
    }

    /* title */
    .big-header {
        font-size: 3.5rem;
        margin: 0;
    }

    .medium-header {
        font-size: 1.3rem;
    }

    .my-image {
        width: 45%;
    }

    .software-engineer {
        width: 40%;
    }

    .top-cloud {
        display: none;
    }

    .bottom-cloud {
        display: none;
    }

    .self-description {
        width: 80%;
        font-size: .9rem;
    }

    .section-header {
        font-size: 2rem;
    }

    /* EXPERIENCE */
    .job-position {
        font-size: 1.3rem;
    }

    .job-company {
        font-size: 1rem;
    }

    .experience-row {
        width: 100%;
        flex-direction: column;
        margin: 0 0 25px 0;
    }

    .skill-img {
        width: 35%;
        height: 35%;
        justify-content: space-around;
        margin: 0 auto 20px;
    }

    .experience-row-description {
        padding: 0;
        text-align: left;
        border-left: none;
    }
}
